@model IEnumerable<Common.Core.Subject>

<table class="table table-bordered table-striped" id="mytable">
    <thead>
        <tr role="row">
            <th>Имя</th>
            <th>Номер</th>
            <th>Описание</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model)
        {
            <tr>
                <td><a href="/Subject/Details/@v.Id" class="compItem" data-toggle="modal">@v.Name</a></td>
                <td>@v.InventoryNumber</td>
                <td>@v.Description</td>
            </tr>
        }
    </tbody>
</table>
