@model Common.Core.Subject

<div class="modal-content">
    <div class="modal-header align-content-center">
        <h4>@Model.Name</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">

            <dt>Название:</dt>
            <dd>@Html.DisplayFor(model => model.Name)</dd>

            <dt>Номер</dt>
            <dd>@Html.DisplayFor(model => model.InventoryNumber)</dd>

            <dt>Описание</dt>
            <dd>@Html.DisplayFor(model => model.Description)</dd>

        </dl>
    </div>
    <div class="modal-footer">
        <a href="/Home/Edit/@Model.Id" class="btn btn-outline-success my-2 my-sm-0">Изменить</a>
        <a href="/Home" class="btn btn-outline-primary my-2 my-sm-0">Назад</a>
    </div>
</div>
