@model List<Common.Core.Subject>

@{
    ViewBag.Title = "Книга хоз учета";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-2">
        <h4>Фильтры</h4>
        <hr />
        <div class="border">
            <p>По состоянию</p>

        </div>
        <hr />
        <div class="border">
            <p>По местоположению</p>

        </div>
    </div>
    <div class="col-md-8">

        <div class="form-group">
            <input type="text" class="form-control pull-right" id="search" placeholder="Поиск по таблице">
        </div>
        <hr/>

        <table class="table table-bordered table-striped" id="mytable">
            <thead>
                <tr role="row">
                    <th>Имя</th>
                    <th>Номер</th>
                    <th>Описание</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var v in Model)
                {
                    <tr>
                        <td><a href="/Home/Details/@v.Id" class="compItem" data-toggle="modal">@v.Name</a></td>
                        <td>@v.InventoryNumber</td>
                        <td>@v.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-2 border">
        @Html.Action("ViewAccount", "Account")
    </div>
</div>