@{
    ViewBag.Title = "Книга хоз учета";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    
    @Html.Action("Index", "Filters")
    
    <div class="col-md-8">
        <p id="test">Ничего</p>
        <div class="form-group">
            <input type="text" class="form-control pull-right" id="search" placeholder="Поиск по таблице">
        </div>
        <hr />
        @Html.Action("GetSubjects", "Subject")
    </div>
    <div class="col-md-2 border">
        @Html.Action("ViewAccount", "Account")
    </div>
</div>