@model Ledger.Models.Filters

<div class="col-md-2">
    <h4>Фильтры</h4>
    <hr />
    <div class="border">
        <p>По состоянию</p>
        <div class="col-10">
            @Html.DropDownListFor(model => model.StateId, new SelectList(Model.States, "Id", "Name", Model.StateId), new { id = "filerStates" })
            <input id="filterButton" type="button" value="Выбрать" class="btn btn-outline-success my-2 my-sm-0" />
        </div>
    </div>
    <hr />
    <div>
        @Html.Action("Index", "Advertising")
    </div>
</div>
