@model Ledger.Models.Filters

<div class="col-md-2">
    <h4>Фильтры</h4>
    <hr />
    <div class="border">
        <p>По состоянию</p>
        <div class="col-10">
            <select id="states" name="States">
                <option value="0">
                    Нет
                </option>
                @foreach (var v in Model.States)
                {
                    <option value="@v.Id">
                        @v.Name
                    </option>
                }
            </select>
        </div>
    </div>
    <hr />
    <div>
        @Html.Action("Index", "Advertising")
    </div>
</div>
